body{
    background: #F2F0EF;
}
.logo img{
      height: 100%;
      width: 100%;
}

.head{
    background: #00262B;
    height: 400px;
    color: black;
    margin-bottom:50px;
    position: relative;
    
}

.him{
 right: 2px;
  position: absolute;
 bottom: 0px;
}
.him img{
  height: 100%;
  width:89%;
}
.ltd{
    background: #F0CC00;
    text-align: right;
    width: 50%;
    height: 80px;
    position: absolute;
    left:0px;
    bottom:-50px;
   z-index: 1000;
    
}
.ltd h3{
  text-align: justify;
  margin-left: 110px;
  margin-top: 25px;

}
.sl{
    color: rgb(255, 255, 255);
    position: relative;
    bottom: 60px;
    
}
.sl h1{
  font-size: 55px;
}
.tw{
    color: rgb(233, 59, 59);
    text-align: left;
    position: absolute;
    top:60px;
    
}
.tw h1{
  font-size: 55px;
 
}
.btsr{
   position: absolute;
  bottom: 180px;
}
.alcr{
    position: absolute;
    top: 130px;
    
}
.head p{
    color: grey;
    font-size: larger;
}


.edx{
    background: transparent;
}

.ex{
    background: transparent;
    margin-bottom: 20px;
}
.ex h1{
font-weight: 800;
font-size: 60px;

}
.cs{
    background: white;
    border-radius: 5px;
    text-align: center;
    width:80%;
    
}

.ds{
background: white;
width: 50%;
border-radius: 5px;

text-align: center;
}
.bs{
background: white;
width: 50%;
border-radius: 5px;

text-align: center;
}
.hc{
background: white;
width: 50%;
border-radius: 5px;

text-align: center;
}

.exmore{
    background: white;
    text-align: center;
    width: 50%;
    margin-left: 270px;
    margin-top: 10px;
    border-radius: 6px 6px 6px 6px;
    
   
}

.crs img{
    margin: 0px  5px  0px  0px;
    
   
   
}
.cms img{
    width: 100%;
    height: 50%;
    margin-bottom: 5px;
    margin-top: 10px;
    
}
.lady{
    background: #00262B;
    
}
.lady img{
    width:100%;
}
.fl{
    color: white;
}
.bn h5{
  margin-top: 25px;
}
.hrr hr{
  margin-right: 55px;
}
.hrrr hr{
  margin-left: 20px;
}
.pro1{
  position:resltive;
}
.pro{
left: 468px;
 position:absolute;
bottom: 70px;
 
}
.bt1{
    background: rgb(211, 77, 77);
    width: 100%;
    color: transparent;
    margin-top: 30px;
}
.gl{
    color: white;
}
.bt{
    background: rgb(223, 78, 78);
    width: 50%;
    text-align: center;
}

.a1{
    background:#F4F3F3;
}
.a1:hover{
    background:white;
}
.erth1{
    background:transparent; 
    overflow:hidden;
}
.erth{
    background:#00262B;
    height: 700px;
}
.erth img{
  height:80%;
  width: 100%;

}

.ertxt{
    color: white;
}
.bt2{
   background: rgb(247, 239, 239);
   width: 150px;
}
html {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
	box-sizing: inherit;
}
.tilt {
	transform-style: preserve-3d;
	margin: 50px auto;
}

.tilt-logo-inner {
	transform: translateZ(50px) translateY(-50%) translateX(-50%);
	position: absolute;
	top: 50%;
	left: 50%;
	color: #F4F3F3;
	font-size: 1.9rem;
}

.tilt-movie, .tilt-movie img {
	width: 400px;
	height:380px;
    
	color: #F4F3F3;
}

    

    .searchbar{
    margin-bottom: auto;
    margin-top: auto;
    height: 60px;
    background-color: #353b48;
    border-radius: 30px;
    padding: 10px;
    }

    .search_input{
    color: white;
    border: 0;
    outline: 0;
    background: none;
    width: 0;
    caret-color:red;
    line-height: 40px;
    transition: width 0.4s linear;
    }

    .searchbar:hover > .search_input{
    padding: 0 10px;
    width: 450px;
    caret-color:red;
    transition: width 0.4s linear;
    }

    .searchbar:hover > .search_icon{
    background: white;
    color: #e74c3c;
    }

    .search_icon{
    height: 40px;
    width: 40px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color:red;
    text-decoration:none;
    }
    .MultiCarousel {
         float: left;
          overflow: hidden; 
          padding: 15px;
          width: 100%;
         position:relative; 
        }
    .MultiCarousel .MultiCarousel-inner { 
        transition: 1s ease all;
         float: left; 
    }
        .MultiCarousel .MultiCarousel-inner .item {
             float: left;
            }
        .MultiCarousel .MultiCarousel-inner .item > div {
             text-align: center;
              padding:10px;
               margin:10px;
                background:#f1f1f1;
                 color:#666;
            }
    .MultiCarousel .leftLst, .MultiCarousel .rightLst { 
        position:absolute;
         border-radius:50%;
         top:calc(50% - 20px); 
    }
    .MultiCarousel .leftLst {
         left:0; 
        }
    .MultiCarousel .rightLst {
         right:0;
         }
    
        .MultiCarousel .leftLst.over, .MultiCarousel .rightLst.over {
             pointer-events:
              none;
               background:#ccc;
             }

.nav-item::after{
    content:'';
    display:block;
    width:0px;
    height: 4px;
    background:red;
    transition: 0.2s;
    margin-top:-10px;
}

.nav-item:hover::after{width:100%;}


.nav-link{padding:15px 5px;transition:0.2s;}

.navbar-nav .nav-link {
    
    color:#000;
    font-weight:bold;
    font-size:18px;
}

.navbar-nav .active > .nav-link{
  
    width:100%;
    height:51px;
    
  border-bottom: .25rem solid transparent;
  border-bottom-color: #ed4137;
   
}


.row.heading h2 {
    color: #fff;
    font-size: 52.52px;
    line-height: 95px;
    font-weight: 400;
    text-align: center;
    margin: 0 0 40px;
    padding-bottom: 20px;
    text-transform: uppercase;
}
ul{
  margin:0;
  padding:0;
  list-style:none;
}
.heading.heading-icon {
    display: block;
}
.padding-lg {
	display: block;
	padding-top: 6px;
	padding-bottom: 6px;
}
.practice-area.padding-lg {
    padding-bottom: 5px;
    
}
.practice-area .inner{ 
     border:1px solid #999999; 
	 text-align:center; 
	 margin-bottom:28px; 
	 padding:40px 25px;
}
.our-webcoderskull .cnt-block:hover {
    box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
    border: 0;
}
.practice-area .inner h3{ 
    color:#3c3c3c; 
	font-size:24px; 
	font-weight:500;
	font-family: 'Poppins', sans-serif;
	padding: 10px 0;
}
.practice-area .inner p{ 
    font-size:14px; 
	line-height:22px; 
	font-weight:400;
}
.practice-area .inner img{
	display:inline-block;
}


.our-webcoderskull{
  background: rgb(241, 241, 241);
  height:500px;
}
.our-webcoderskull .cnt-block{ 
   float:left; 
   width:100%; 
   background:#fff; 
  
   text-align:center; 
   border:2px solid #d5d5d5;
   margin: 0 0 0px;
}
.our-webcoderskull .cnt-block figure{
   width:100%; 
   height:148px; 
  
   display:inline-block;
   margin-bottom: 0px;
}
.our-webcoderskull .cnt-block img{ 
   width:100%; 
   height:100%; 
   
}
.our-webcoderskull .cnt-block h3{ 
   color:#2a2a2a; 
   font-size:20px; 
   font-weight:500; 
   padding:6px 0;
   text-transform:uppercase;
}
.our-webcoderskull .cnt-block h4{ 
  color:#2a2a2a; 
  font-size:18px; 
  font-weight:500; 
  padding:6px 0;
  text-transform: capitalize;
}
.our-webcoderskull .cnt-block h3 a{
  text-decoration:none;
	color:white;
    
}
.our-webcoderskull .cnt-block h3 a:hover{
	color:white;
    margin-top: 20px;
}
.our-webcoderskull .cnt-block h4 a{
  text-decoration:none;
	color:rgb(0, 0, 0);
    
}
.our-webcoderskull .cnt-block h4 a:hover{
	color:rgb(0, 0, 0);
   
}
.our-webcoderskull .cnt-block p{ 
   color:rgb(2, 0, 0); 
   font-size:14px; 
   line-height:20px; 
   font-weight:300;
   text-align: left;
   margin-left: 15px;
}

.our-webcoderskull .cnt-block .follow-us{
	margin:20px 0 0;
}
.our-webcoderskull .cnt-block .follow-us li{ 
    display:inline-block; 
	width:auto; 
	margin:0 5px;
}
.our-webcoderskull .cnt-block .follow-us li .fa{ 
   font-size:24px; 
   color:#767676;
}
.our-webcoderskull .cnt-block .follow-us li .fa:hover{ 
   color:#025a8e;
}
.cloud {
    background:#00262B;
    text-align: center;
    height: 58%;
    width: 100%;
    position: relative;
}
.cloud  h3{
  
    text-align: center;
    

}
.ggl{
    background: white;
    position: absolute;
    width: 130px;
    height: 50px;
    bottom: 190px;
    left:40px;
    border-radius: 5px;
}
.cloud1{
  background:#fffefe;
  text-align: center;
  height: 58%;
  width: 100%;
  position: relative;
 
}

.ggl1{
  background: rgb(240, 235, 235);
  position: absolute;
  width: 130px;
  height: 50px;
  bottom: 190px;
  left:40px;
  border-radius: 5px;
}

.fr{
    background:#E1DDDB;
    width:80%;
    border-radius: 10px;
    text-align: center;
    margin-left:22px;
    font-family: serif;
    
}
.fr p{
    margin-bottom: 10%;
}

@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
section {
    padding: 60px 0;
}

section .section-title {
    text-align: center;
    color: #000000;
    margin-bottom: 0px;
    text-transform: uppercase;
}
#footer {
    background: #ffffff ;
}
#footer h5{
	padding-left: 10px;
    border-left: 3px solid #000000;
    padding-bottom: 6px;
    margin-bottom: 20px;
    color:#000000;
}
#footer a {
    color: #080000;
    text-decoration: none !important;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
#footer ul.social li{
	padding: 3px 0;
}
#footer ul.social li a i {
    margin-right: 5px;
	font-size:25px;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}
#footer ul.social li:hover a i {
	font-size:30px;
	margin-top:-10px;
}
#footer ul.social li a,
#footer ul.quick-links li a{
	color:rgb(0, 0, 0);
}
#footer ul.social li a:hover{
	color:black;
}
#footer ul.quick-links li{
	padding: 3px 0;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}
#footer ul.quick-links li:hover{
	padding: 3px 0;
	margin-left:5px;
	font-weight:700;
}
#footer ul.quick-links li a i{
	margin-right: 5px;
}
#footer ul.quick-links li:hover a i {
    font-weight: 700;
}

@media (max-width:767px){
	#footer h5 {
    padding-left: 0;
    border-left: transparent;
    padding-bottom: 0px;
    margin-bottom: 10px;
}
}
<!-- footer2 -- >
body { color: rgb(245, 245, 245) }
.footer-widget p {
    margin-bottom: 27px;
}
p {
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    line-height: 28px;
}

   .animate-border {
  position: relative;
  display: block;
  width: 115px;
  height: 3px;
  background: #007bff; }

.animate-border:after {
  position: absolute;
  content: "";
  width: 35px;
  height: 3px;
  left: 0;
  bottom: 0;
  border-left: 10px solid #fff;
  border-right: 10px solid #fff;
  -webkit-animation: animborder 2s linear infinite;
  animation: animborder 2s linear infinite; }

@-webkit-keyframes animborder {
  0% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px); }
  100% {
    -webkit-transform: translateX(113px);
    transform: translateX(113px); } }

@keyframes animborder {
  0% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px); }
  100% {
    -webkit-transform: translateX(113px);
    transform: translateX(113px); } }

.animate-border.border-white:after {
  border-color: #fff; }

.animate-border.border-yellow:after {
  border-color: #F5B02E; }

.animate-border.border-orange:after {
  border-right-color: #007bff;
  border-left-color: #007bff; }

.animate-border.border-ash:after {
  border-right-color: #000000;
  border-left-color: #EEF0EF; }

.animate-border.border-offwhite:after {
  border-right-color: #F7F9F8;
  border-left-color: #F7F9F8; }

/* Animated heading border */
@keyframes primary-short {
  0% {
    width: 15%; }
  50% {
    width: 90%; }
  100% {
    width: 10%; } }

@keyframes primary-long {
  0% {
    width: 80%; }
  50% {
    width: 0%; }
  100% {
    width: 80%; } } 

.dk-footer {
  padding: 75px 0 0;
  background-color: white;
  position: relative;
  z-index: 2; }
  .dk-footer .contact-us {
    margin-top: 0;
    margin-bottom: 30px;
    padding-left: 80px; }
    .dk-footer .contact-us .contact-info {
      margin-left: 50px; }
    .dk-footer .contact-us.contact-us-last {
      margin-left: -80px; }
  .dk-footer .contact-icon i {
    font-size: 24px;
    top: -15px;
    position: relative;
    color:#007bff; }

.dk-footer-box-info {
  position: absolute;
  top: -122px;
  background: #eafafc;
  padding: 40px;
  z-index: 2; }
  .dk-footer-box-info .footer-social-link h3 {
    color: black;
    font-size: 24px;
    margin-bottom: 25px; }
  .dk-footer-box-info .footer-social-link ul {
    list-style-type: none;
    padding: 0;
    margin: 0; }
  .dk-footer-box-info .footer-social-link li {
    display: inline-block; }
  .dk-footer-box-info .footer-social-link a i {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    background: #000;
    margin-right: 5px;
    color: rgb(0, 0, 0); }
    .dk-footer-box-info .footer-social-link a i.fa-facebook {
      background-color: #3B5998; }
    .dk-footer-box-info .footer-social-link a i.fa-twitter {
      background-color: #55ACEE; }
    .dk-footer-box-info .footer-social-link a i.fa-google-plus {
      background-color: #DD4B39; }
    .dk-footer-box-info .footer-social-link a i.fa-linkedin {
      background-color: #0976B4; }
    .dk-footer-box-info .footer-social-link a i.fa-instagram {
      background-color: #B7242A; }

.footer-awarad {
  margin-top: 285px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 100%;
  -moz-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .footer-awarad p {
    color: rgb(0, 0, 0);
    font-size: 24px;
    font-weight: 700;
    margin-left: 20px;
    padding-top: 15px; }

.footer-info-text {
  margin: 26px 0 32px; }

.footer-left-widget {
  padding-left: 80px; }

.footer-widget .section-heading {
  margin-bottom: 35px; }

.footer-widget h3 {
  font-size: 24px;
  color: rgb(0, 0, 0);
  position: relative;
  margin-bottom: 15px;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content; }

.footer-widget ul {
  width: 50%;
  float: left;
  list-style: none;
  margin: 0;
  padding: 0; }

.footer-widget li {
  margin-bottom: 18px; }

.footer-widget p {
  margin-bottom: 27px; }

.footer-widget a {
  color: #878787;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }
  .footer-widget a:hover {
    color: #007bff; }

.footer-widget:after {
  content: "";
  display: block;
  clear: both; }

.dk-footer-form {
  position: relative; }
  .dk-footer-form input[type=email] {
    padding: 14px 28px;
    border-radius: 50px;
    background: #2E2E2E;
    border: 1px solid #2E2E2E; }
  .dk-footer-form input::-webkit-input-placeholder, .dk-footer-form input::-moz-placeholder, .dk-footer-form input:-ms-input-placeholder, .dk-footer-form input::-ms-input-placeholder, .dk-footer-form input::-webkit-input-placeholder {
    color: #878787;
    font-size: 14px; }
  .dk-footer-form input::-webkit-input-placeholder, .dk-footer-form input::-moz-placeholder, .dk-footer-form input:-ms-input-placeholder, .dk-footer-form input::-ms-input-placeholder, .dk-footer-form input::placeholder {
    color: #878787;
    font-size: 14px; }
  .dk-footer-form button[type=submit] {
    position: absolute;
    top: 0;
    right: 0;
    padding: 12px 24px 12px 17px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    border: 1px solid #007bff;
    background: #007bff;
    color: rgb(0, 0, 0); }
  .dk-footer-form button:hover {
    cursor: pointer; }

/* ==========================

    Contact

=============================*/
.contact-us {
  position: relative;
  z-index: 2;
  margin-top: 65px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.contact-icon {
  position: absolute; }
  .contact-icon i {
    font-size: 36px;
    top: -5px;
    position: relative;
    color: #007bff; }

.contact-info {
  margin-left: 75px;
  color: rgb(0, 0, 0); }
  .contact-info h3 {
    font-size: 20px;
    color: rgb(0, 0, 0);
    margin-bottom: 0; }

.copyright {
  padding: 28px 0;
  margin-top: 55px;
  background-color: #202020; }
  .copyright span,
  .copyright a {
    color: #878787;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear; }
  .copyright a:hover {
    color:#007bff; }

.copyright-menu ul {
  text-align: right;
  margin: 0; }

.copyright-menu li {
  display: inline-block;
  padding-left: 20px; }

.back-to-top {
  position: relative;
  z-index: 2; }
  .back-to-top .btn-dark {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    padding: 0;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: #2e2e2e;
    border-color: #2e2e2e;
    display: none;
    z-index: 999;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear; }
    .back-to-top .btn-dark:hover {
      cursor: pointer;
      background: #FA6742;
      border-color: #FA6742; }




      