.css-2aw9z6{
    text-align: center;
        width: 100%;
        padding-top: 10px;
        padding-bottom: 10px;
        margin: 0 auto;
        max-width: '100%';
        min-height: 9px;
        background-color: #f5f5f5;
    }
    .css-e9k2ac {
      display: inline-block;
      margin: 0 10px 30px;
    }
    .css-1f5i7kc {
        display: inline-block;
        margin: 0 10px 30px;
    }
    .css-e9k2ac {
        display: inline-block;
        margin: 0 10px 30px;
    }
    .css-4arnal {
        display: inline-block;
        margin: 0 10px 30px;
    }
    .css-e9k2ac {
        display: inline-block;
        margin: 0 10px 30px;
    }
    .css-4arnal {
        display: inline-block;
        margin: 0 10px 30px;
    }
    .css-e9k2ac {
        display: inline-block;
        margin: 0 10px 30px;
    }
    .css-qm5rar {
        display: inline-block;
        margin: 0 10px 30px;
    }